/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.bg-image {
  background-image: url("tennis 8.jpg");

  height: 100%; 
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
    height: 100%;
    padding: 0;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    
    
}


main {
    margin: 0 auto;
    width: auto;
    height: 900px;
    position: relative;
    width: 900px;
}


article {
    text-align: justify;
    color: greenyellow;
    margin: 20px;
    width: 900px;
    
}


header {
    color: black;
    text-align: center;
    
}


footer {
    text-align: center;
    padding-bottom: 10px;
    background-color:
}

head { align-content: center
    
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin: 5px;
    width: 150px;
    height: 190px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: black;
    height: 20px;
}

article ol {
    margin: 20px;
}

p {
    width: 600px;
}

article {
    margin-left: 20px; 
    height: 300px;
    font-size: 20px;   
}

a.post-malone {
    font-size: 50px;
    text-decoration: none;
    color: white;

}

a.post-malone:hover {
    opacity: 0.6;
}

.background {
  background-image: url("tennis 8.jpg");

  height: 100%; 
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nice {
  background-image: url("tennis 8.jpg");
  height: 100%; 
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   }

.gerard {
    margin-top: 50px;
}
